workflows/Agent 4 - Campaign Agent.json
{
  "name": "Agent 4 - Campaign Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13d2fc47-7ff0-4876-a93d-df225597ecac",
      "name": "Receive Approved Content",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -160
      ],
      "webhookId": "8cee8075-3c9a-47c8-bb72-a95e47548285"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "product_name",
              "value": "={{ $json.body?.product_name ?? $json.product_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "product_description",
              "value": "={{ $json.body?.product_description ?? $json.product_description ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "target_audience",
              "value": "={{ $json.body?.target_audience ?? $json.target_audience ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "chat_id",
              "value": "={{ $json.body?.chat_id ?? $json.chat_id ?? \"7ef90d05-e5c2-4f15-ac62-8f5335529067\" }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "research_data",
              "value": "={{ $json.body?.research_data ?? $json.research_data ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "content_data",
              "value": "={{ $json.body?.content_data ?? $json.content_data ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "overall_score",
              "value": "={{ $json.body?.overall_score ?? $json.overall_score ?? 0 }}",
              "type": "number"
            },
            {
              "id": "f8",
              "name": "approval_summary",
              "value": "={{ $json.body?.approval_summary ?? $json.approval_summary ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a27225f-b795-4bcb-a9bb-4f9164c17804",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimlapi.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e36e9050421292fd40419b35ab606cfb"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"google/gemma-3-4b-it\", \"messages\": [ { \"role\": \"user\", \"content\": \"You are a Campaign Strategy Agent. Build a complete actionable campaign brief. Return ONLY a valid JSON object with these exact fields: campaign_name (string), launch_timeline (object with phase1, phase2, phase3 each having duration and focus), channel_strategy (object with channels as keys each having budget_percentage, tactic, expected_roas), budget_allocation (object with total_budget_recommendation and breakdown), kpis (array of objects with metric and target), launch_checklist (array of strings), executive_summary (string max 3 sentences), confidence_score (number 1-10). No markdown, no explanation, ONLY the JSON object.\\n\\nProduct: \" + $json.product_name + \"\\nAudience: \" + $json.target_audience + \"\\nResearch: \" + $json.research_data + \"\\nApproved Content: \" + $json.content_data + \"\\nContent Review Score: \" + $json.overall_score + \"/10\" } ], \"temperature\": 0.5, \"max_tokens\": 1500 } }}",
        "options": {}
      },
      "id": "cbb98993-0556-447a-b9cb-e4734b70d9e2",
      "name": "OpenAI - Build Campaign Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://app.band.ai/api/v1/agent/chats/\" + $json.chat_id + \"/messages\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.band_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": { \"content\": $json.band_message, \"mentions\": [ { \"id\": \"8286b9b3-8e9d-4f91-a955-68716ac28bbf\", \"name\": \"Agent 1 - Research Agent\", \"handle\": \"aiadpulse12/agent-1-research-agent\" } ] } } }}",
        "options": {}
      },
      "id": "88b938ee-3d85-4e2f-aaff-0ebb78731753",
      "name": "Post Final Brief to Band",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "0SKF6OdH7RjyTBxp",
          "name": "Band CampaignAgent Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"complete\", \"agent\": \"CampaignAgent\", \"product\": $('Build Final Message').item.json.product_name, \"campaign_brief\": $('Build Final Message').item.json.campaign_brief } }}",
        "options": {}
      },
      "id": "4dc29707-9ba9-4498-9b4b-3718ce8a943c",
      "name": "Respond with Final Brief",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizedData = $('Normalize Input').item.json;\nconst rawCampaign = $input.item.json.choices[0].message.content;\n\n// Clean markdown\nconst cleanCampaign = rawCampaign.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// Fix common JSON errors from model output\nconst fixedCampaign = cleanCampaign\n  .replace(/,\\s*}/g, '}')\n  .replace(/,\\s*]/g, ']')\n  .replace(/(\"[^\"]*\":\\s*\"[^\"]*)[^\"]*\"([^\"]*\"\\s*[,}])/g, '$1$2');\n\n// Parse JSON\nlet campaign;\ntry {\n  campaign = JSON.parse(cleanCampaign);\n} catch(e1) {\n  try {\n    campaign = JSON.parse(fixedCampaign);\n  } catch(e2) {\n    // Extract fields manually using regex as last resort\n    const getName = cleanCampaign.match(/\"campaign_name\"\\s*:\\s*\"([^\"]+)\"/);\n    const getSummary = cleanCampaign.match(/\"executive_summary\"\\s*:\\s*\"([^\"]+)\"/);\n    const getScore = cleanCampaign.match(/\"confidence_score\"\\s*:\\s*(\\d+)/);\n    campaign = {\n      campaign_name: getName ? getName[1] : 'Campaign Brief',\n      executive_summary: getSummary ? getSummary[1] : 'Campaign brief generated successfully.',\n      confidence_score: getScore ? getScore[1] : 'N/A',\n      launch_timeline: {\n        phase1: { duration: 'Week 1-2', focus: 'Awareness' },\n        phase2: { duration: 'Week 3-5', focus: 'Conversion' },\n        phase3: { duration: 'Week 6-8', focus: 'Retention' }\n      },\n      kpis: [],\n      launch_checklist: [],\n      channel_strategy: {}\n    };\n  }\n}\n\n// Safely extract fields\nconst campaignName = campaign.campaign_name || 'Campaign Brief';\nconst execSummary = campaign.executive_summary || 'Campaign brief generated.';\nconst confidenceScore = campaign.confidence_score || 'N/A';\n\nconst phase1 = campaign.launch_timeline?.phase1;\nconst phase2 = campaign.launch_timeline?.phase2;\nconst phase3 = campaign.launch_timeline?.phase3;\n\nconst kpis = Array.isArray(campaign.kpis) ? campaign.kpis : [];\nconst checklist = Array.isArray(campaign.launch_checklist) ? campaign.launch_checklist : [];\nconst channels = campaign.channel_strategy ? Object.keys(campaign.channel_strategy) : [];\n\nconst messageContent = `🎉 PIPELINE COMPLETE - AI E-COMMERCE LAUNCH COMMAND\n\n🚀 Campaign: ${campaignName}\n📦 Product: ${normalizedData.product_name}\n👥 Audience: ${normalizedData.target_audience}\n\n📊 Pipeline Summary:\n✅ Research Agent - Market analysis complete\n✅ Content Agent - Copy and emails generated\n✅ Review Agent - Score ${normalizedData.overall_score}/10 Approved\n✅ Campaign Agent - Brief assembled\n\n💼 Executive Summary:\n${execSummary}\n\n📅 Launch Timeline:\n- Phase 1: ${phase1?.duration || 'Week 1-2'} - ${phase1?.focus || 'Awareness'}\n- Phase 2: ${phase2?.duration || 'Week 3-5'} - ${phase2?.focus || 'Conversion'}\n- Phase 3: ${phase3?.duration || 'Week 6-8'} - ${phase3?.focus || 'Retention'}\n\n💰 Recommended Channels:\n${channels.length > 0 ? channels.map(ch => `- ${ch}: ${campaign.channel_strategy[ch]?.tactic || ''} (ROAS: ${campaign.channel_strategy[ch]?.expected_roas || 'N/A'})`).join('\\n') : '- Multi-channel strategy'}\n\n📊 KPIs:\n${kpis.length > 0 ? kpis.map(k => `- ${k.metric}: ${k.target}`).join('\\n') : '- See full brief for KPIs'}\n\n✅ Launch Checklist:\n${checklist.length > 0 ? checklist.map(item => `- ${item}`).join('\\n') : '- See full brief for checklist'}\n\n💡 Confidence Score: ${confidenceScore}/10`;\n\nreturn [{\n  json: {\n    product_name: normalizedData.product_name,\n    campaign_brief: cleanCampaign,\n    band_message: messageContent,\n    chat_id: normalizedData.chat_id,\n    band_api_key: 'band_a_1781059706_skQC7Y5ghDcqf-9F_vyFdg8f3ORAuX0H'\n  }\n}];"
      },
      "id": "0a371db3-6e1e-498a-a149-0253b2dbfa03",
      "name": "Build Final Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -160
      ]
    }
  ],
  "pinData": {
    "Receive Approved Content": [
      {
        "json": {
          "headers": {
            "host": "aiadpulse12.app.n8n.cloud",
            "user-agent": "n8n",
            "content-length": "2789",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "4.165.103.121",
            "cf-ew-via": "15",
            "cf-ipcountry": "SE",
            "cf-ray": "a09548e3af012dc2-ARN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-api-key": "band_a_1781059706_skQC7Y5ghDcqf-9F_vyFdg8f3ORAuX0H",
            "x-forwarded-for": "4.165.103.121, 162.158.182.154",
            "x-forwarded-host": "aiadpulse12.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-swc-29-7cb55c5d6f-8zvgl",
            "x-is-trusted": "yes",
            "x-real-ip": "4.165.103.121"
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "content": "🎉 PIPELINE COMPLETE\n\n🚀 Campaign Brief Ready!\nProduct: \n\nPipeline Summary:\n- ResearchAgent: ✅ Market analysis complete\n- ContentAgent: ✅ Copy and email sequence generated\n- ReviewAgent: ✅ Score 9/10 Approved\n- CampaignAgent: ✅ Brief assembled\n\nFull Campaign Brief:\n{\n  \"campaign_name\": \"Eco Kitchen Revolution\",\n  \"launch_timeline\": {\n    \"phase1\": {\n      \"duration\": \"4 weeks\",\n      \"focus\": \"Brand Awareness and Engagement\"\n    },\n    \"phase2\": {\n      \"duration\": \"3 weeks\",\n      \"focus\": \"Conversion and Sales Promotion\"\n    },\n    \"phase3\": {\n      \"duration\": \"2 weeks\",\n      \"focus\": \"Retention and Customer Loyalty\"\n    }\n  },\n  \"channel_strategy\": {\n    \"Social Media\": {\n      \"budget_percentage\": 40,\n      \"tactic\": \"Visual storytelling through posts and ads showcasing product benefits.\",\n      \"expected_roas\": 5\n    },\n    \"Content Marketing\": {\n      \"budget_percentage\": 30,\n      \"tactic\": \"Collaborations with eco-friendly blogs for sponsored content and articles.\",\n      \"expected_roas\": 4\n    },\n    \"Ecommerce Marketplaces\": {\n      \"budget_percentage\": 30,\n      \"tactic\": \"Promotional listings and enhanced visibility on green product platforms.\",\n      \"expected_roas\": 6\n    }\n  },\n  \"budget_allocation\": {\n    \"total_budget_recommendation\": 100000,\n    \"breakdown\": {\n      \"Social Media\": 40000,\n      \"Content Marketing\": 30000,\n      \"Ecommerce Marketplaces\": 30000\n    }\n  },\n  \"kpis\": [\n    {\n      \"metric\": \"Website Traffic\",\n      \"target\": \"10000 visits\"\n    },\n    {\n      \"metric\": \"Conversion Rate\",\n      \"target\": \"5%\"\n    },\n    {\n      \"metric\": \"Customer Retention Rate\",\n      \"target\": \"30%\"\n    },\n    {\n      \"metric\": \"ROAS\",\n      \"target\": \"5\"\n    }\n  ],\n  \"launch_checklist\": [\n    \"Finalize ad creatives and content.\",\n    \"Set up tracking for KPIs.\",\n    \"Launch social media campaigns.\",\n    \"Distribute email sequences.\",\n    \"Monitor performance and adjust strategies.\"\n  ],\n  \"executive_summary\": \"The Eco Kitchen Revolution campaign aims to position our premium eco-friendly kitchenware as the go-to choice for health-conscious consumers. By leveraging social media, content marketing, and ecommerce platforms, we will raise awareness, drive conversions, and foster customer loyalty. Our unique selling points and focus on sustainability will resonate with our target audience, ensuring a successful launch.\",\n  \"confidence_score\": 9\n}",
              "mentions": [
                {
                  "id": "8286b9b3-8e9d-4f91-a955-68716ac28bbf",
                  "name": "Agent 1 - Research Agent",
                  "handle": "aiadpulse12/agent-1-research-agent"
                }
              ]
            }
          },
          "webhookUrl": "https://aiadpulse12.app.n8n.cloud/webhook/campaign-agent",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Approved Content": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "OpenAI - Build Campaign Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Final Brief to Band": {
      "main": [
        [
          {
            "node": "Respond with Final Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Build Campaign Brief": {
      "main": [
        [
          {
            "node": "Build Final Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Message": {
      "main": [
        [
          {
            "node": "Post Final Brief to Band",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "f493c8e9-5245-416e-b32d-f6aa92c62835",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "8729fed0b93232aa0742d9c9fd3ee489cd06e53a46df6a8a5f0f2739b22d2bce"
  },
  "nodeGroups": [],
  "id": "KkAqG3zeuSk0NOXv",
  "tags": []
}