workflows/Agent_3_Review_Agent.json
{
  "name": "Agent 3 - Review Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Receive Content for Review",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -112
      ],
      "webhookId": "[WEBHOOK_ID_REDACTED]"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "product_name",
              "value": "={{ $json.body?.product_name ?? $json.product_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "product_description",
              "value": "={{ $json.body?.product_description ?? $json.product_description ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "target_audience",
              "value": "={{ $json.body?.target_audience ?? $json.target_audience ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "chat_id",
              "value": "={{ $json.body?.chat_id ?? $json.chat_id ?? \"[DEFAULT_CHAT_ID_REDACTED]\" }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "research_data",
              "value": "={{ $json.body?.research_data ?? $json.research_data ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "content_data",
              "value": "={{ $json.body?.content_data ?? $json.content_data ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "attempt",
              "value": "={{ $json.body?.attempt ?? $json.attempt ?? 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "overall_score",
              "value": "={{ (() => { const raw = $json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim(); try { return JSON.parse(raw).overall_score; } catch(e) { return 5; } })() }}",
              "type": "number"
            },
            {
              "id": "r2",
              "name": "approved",
              "value": "={{ (() => { const raw = $json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim(); try { return JSON.parse(raw).approved; } catch(e) { return false; } })() }}",
              "type": "boolean"
            },
            {
              "id": "r3",
              "name": "revision_notes",
              "value": "={{ (() => { const raw = $json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim(); try { return JSON.parse(raw).revision_notes; } catch(e) { return 'Unable to parse review'; } })() }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "approval_summary",
              "value": "={{ (() => { const raw = $json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim(); try { return JSON.parse(raw).approval_summary; } catch(e) { return ''; } })() }}",
              "type": "string"
            },
            {
              "id": "r5",
              "name": "issues_found",
              "value": "={{ (() => { const raw = $json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim(); try { return JSON.parse(raw).issues_found.join(', '); } catch(e) { return ''; } })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Parse Review Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.approved }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "rightValue": true,
              "id": "[CONDITION_ID_REDACTED]"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Is Content Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://app.band.ai/api/v1/agent/chats/\" + $('Build Approval Message').item.json.chat_id + \"/messages\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Build Approval Message').item.json.band_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": { \"content\": $('Build Approval Message').item.json.band_message, \"mentions\": [ { \"id\": \"[AGENT_MENTION_ID_REDACTED]\", \"name\": \"Agent4 campaign\", \"handle\": \"[YOUR_BAND_ORG]/[YOUR_AGENT4_HANDLE]\" } ] } } }}",
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Post Approval to Band",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        -208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "[CREDENTIAL_ID_REDACTED]",
          "name": "Band ReviewAgent Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"agent\": \"ReviewAgent\", \"approved\": $(\"Parse Review Result\").item.json.approved, \"score\": $(\"Parse Review Result\").item.json.overall_score } }}",
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://app.band.ai/api/v1/agent/chats/\" + $('Build Revision Message').item.json.chat_id + \"/messages\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Build Revision Message').item.json.band_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": { \"content\": $('Build Revision Message').item.json.band_message, \"mentions\": [ { \"id\": \"[AGENT_MENTION_ID_REDACTED]\", \"name\": \"Agent2 content\", \"handle\": \"[YOUR_BAND_ORG]/[YOUR_AGENT2_HANDLE]\" } ] } } }}",
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Post Revision Request to Band",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "[CREDENTIAL_ID_REDACTED]",
          "name": "Band ReviewAgent Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[YOUR_N8N_INSTANCE_URL]/webhook/content-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"product_name\": $('Build Revision Message').item.json.product_name, \"product_description\": $('Build Revision Message').item.json.product_description, \"target_audience\": $('Build Revision Message').item.json.target_audience, \"chat_id\": $('Build Revision Message').item.json.chat_id, \"research_data\": $('Build Revision Message').item.json.research_data, \"revision_notes\": $('Build Revision Message').item.json.revision_notes, \"attempt\": $('Build Revision Message').item.json.attempt } }}",
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Send Back to Content Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizedData = $('Normalize Input').item.json;\nconst reviewResult = $('Parse Review Result').item.json;\n\nconst messageContent = `@[YOUR_BAND_ORG]/[YOUR_AGENT4_HANDLE] ✅ CONTENT APPROVED\\n\\n📦 Product: ${normalizedData.product_name}\\n⭐ Final Score: ${reviewResult.overall_score}/10\\n📝 Summary: ${reviewResult.approval_summary}\\n\\n➡️ ACTION: Build the final campaign brief for this product.`;\n\nreturn [{\n  json: {\n    product_name: normalizedData.product_name,\n    product_description: normalizedData.product_description,\n    target_audience: normalizedData.target_audience,\n    chat_id: normalizedData.chat_id,\n    research_data: normalizedData.research_data,\n    content_data: normalizedData.content_data,\n    overall_score: reviewResult.overall_score,\n    approval_summary: reviewResult.approval_summary,\n    band_message: messageContent,\n    band_api_key: '[REDACTED_BAND_API_KEY]'\n  }\n}];"
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Build Approval Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizedData = $('Normalize Input').item.json;\nconst reviewResult = $('Parse Review Result').item.json;\n\n// issues_found can be string or array — handle both\nlet issuesText = '';\nif (Array.isArray(reviewResult.issues_found)) {\n  issuesText = reviewResult.issues_found.join('\\n');\n} else if (typeof reviewResult.issues_found === 'string') {\n  issuesText = reviewResult.issues_found;\n} else {\n  issuesText = 'See revision notes below';\n}\n\nconst messageContent = `@[YOUR_BAND_ORG]/[YOUR_AGENT2_HANDLE] ❌ REVISION REQUIRED (Attempt ${normalizedData.attempt || 1}/3)\\n\\n📦 Product: ${normalizedData.product_name}\\n⭐ Score: ${reviewResult.overall_score}/10\\n\\n⚠️ Issues Found:\\n${issuesText}\\n\\n📝 Revision Notes:\\n${reviewResult.revision_notes}\\n\\n➡️ ACTION: Fix ALL issues above and resubmit.`;\n\nreturn [{\n  json: {\n    product_name: normalizedData.product_name,\n    product_description: normalizedData.product_description,\n    target_audience: normalizedData.target_audience,\n    chat_id: normalizedData.chat_id,\n    research_data: normalizedData.research_data,\n    revision_notes: reviewResult.revision_notes,\n    attempt: (normalizedData.attempt || 1) + 1,\n    band_message: messageContent,\n    band_api_key: '[REDACTED_BAND_API_KEY]'\n  }\n}];"
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Build Revision Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[YOUR_N8N_INSTANCE_URL]/webhook/campaign-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"product_name\": $('Build Approval Message').item.json.product_name, \"product_description\": $('Build Approval Message').item.json.product_description, \"target_audience\": $('Build Approval Message').item.json.target_audience, \"chat_id\": $('Build Approval Message').item.json.chat_id, \"research_data\": $('Build Approval Message').item.json.research_data, \"content_data\": $('Build Approval Message').item.json.content_data, \"overall_score\": $('Build Approval Message').item.json.overall_score, \"approval_summary\": $('Build Approval Message').item.json.approval_summary } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -208
      ],
      "id": "[NODE_ID_REDACTED]",
      "name": "Trigger Campaign Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimlapi.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED_AIML_API_KEY]"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"google/gemma-3-4b-it\", \"messages\": [ { \"role\": \"user\", \"content\": \"You are an extremely strict Content Review Agent for a premium ecommerce brand. You have very high standards. Score the marketing content below on a scale of 1-10. IMPORTANT SCORING RULES:\\n- If this is attempt 1, be very strict. Only score 7+ if the content is truly exceptional with specific benefits, emotional triggers, and strong CTAs.\\n- If content is generic, vague, or lacks specific product benefits, score it 4-6.\\n- If content mentions specific features, pain points, and has compelling hooks, score 7+.\\n\\nReturn ONLY a valid JSON object with these exact fields: overall_score (number 1-10), approved (boolean true ONLY if score is 7 or above), issues_found (array of specific strings describing problems, empty array if approved), revision_notes (string with exact fixes needed, empty string if approved), approval_summary (string). No markdown, no backticks, ONLY raw JSON.\\n\\nProduct: \" + $json.product_name + \"\\nDescription: \" + $json.product_description + \"\\nAudience: \" + $json.target_audience + \"\\nAttempt number: \" + ($json.attempt || 1) + \"\\n\\nContent to review:\\n\" + $json.content_data } ], \"temperature\": 0.2, \"max_tokens\": 800 } }}",
        "options": {}
      },
      "id": "[NODE_ID_REDACTED]",
      "name": "Review Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -112
      ]
    }
  ],
  "pinData": {
    "Receive Content for Review": [
      {
        "json": {
          "headers": {
            "host": "[YOUR_N8N_HOSTNAME]",
            "user-agent": "n8n",
            "content-length": "3885",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "[IP_REDACTED]",
            "cf-ew-via": "15",
            "cf-ipcountry": "SE",
            "cf-ray": "[CF_RAY_REDACTED]",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "[IP_REDACTED], [IP_REDACTED]",
            "x-forwarded-host": "[YOUR_N8N_HOSTNAME]",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "[INTERNAL_SERVER_REDACTED]",
            "x-is-trusted": "yes",
            "x-real-ip": "[IP_REDACTED]"
          },
          "params": {},
          "query": {},
          "body": {
            "product_name": "Example Product",
            "product_description": "Example product description",
            "target_audience": "Example target audience",
            "chat_id": "[SAMPLE_CHAT_ID_REDACTED]",
            "research_data": "{\"market_positioning\": \"[EXAMPLE_RESEARCH_DATA]\"}",
            "content_data": "{\"product_copy\": {\"headline\": \"[EXAMPLE_HEADLINE]\", \"subheadline\": \"[EXAMPLE_SUBHEADLINE]\", \"body_copy\": \"[EXAMPLE_BODY]\", \"cta\": \"[EXAMPLE_CTA]\"}, \"email_sequence\": [], \"ad_hooks\": [], \"content_score\": 5}",
            "attempt": 1
          },
          "webhookUrl": "[YOUR_N8N_INSTANCE_URL]/webhook/review-agent",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Content for Review": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Review Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review Result": {
      "main": [
        [
          {
            "node": "Is Content Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Approval to Band": {
      "main": [
        [
          {
            "node": "Trigger Campaign Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Revision Request to Band": {
      "main": [
        [
          {
            "node": "Send Back to Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Back to Content Agent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Content Approved?": {
      "main": [
        [
          {
            "node": "Build Approval Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Revision Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Message": {
      "main": [
        [
          {
            "node": "Post Approval to Band",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Revision Message": {
      "main": [
        [
          {
            "node": "Post Revision Request to Band",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Campaign Agent1": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Content": {
      "main": [
        [
          {
            "node": "Parse Review Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "[VERSION_ID_REDACTED]",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "[INSTANCE_ID_REDACTED]"
  },
  "nodeGroups": [],
  "id": "[WORKFLOW_ID_REDACTED]",
  "tags": []
}
