workflows/Agent 1 - Research Agent.json
{
  "name": "Agent 1 - Research Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "05b1edca-40fc-4c62-ba18-c5fc649f0506",
      "name": "Receive Product Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        64
      ],
      "webhookId": "07689dc5-3777-4c0f-b3eb-dfac687bf200"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "product_name",
              "value": "={{ $json.body?.product_name ?? $json.product_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "product_description",
              "value": "={{ $json.body?.product_description ?? $json.product_description ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "target_audience",
              "value": "={{ $json.body?.target_audience ?? $json.target_audience ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "chat_id",
              "value": "={{ $json.body?.chat_id ?? $json.chat_id ?? \"7ef90d05-e5c2-4f15-ac62-8f5335529067\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c41604d6-1226-430a-98e1-ecfab473fc51",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimlapi.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <Your API key>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"google/gemma-3-4b-it\", \"messages\": [ { \"role\": \"user\", \"content\": \"You are a Market Research Agent for an ecommerce product launch system. Analyze the product below and return ONLY a valid JSON object with these exact fields: market_positioning (string), competitor_angles (array of 3 strings), target_pain_points (array of 3 strings), unique_selling_points (array of 3 strings), recommended_channels (array of strings), urgency_score (number 1-10), research_summary (string). Return ONLY the JSON object, no markdown, no explanation, no extra text.\\n\\nProduct: \" + $json.product_name + \"\\nDescription: \" + $json.product_description + \"\\nAudience: \" + $json.target_audience } ], \"temperature\": 0.7, \"max_tokens\": 1024 } }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "571eef7f-81dd-49dc-8cb9-5a9e1f2ee37f",
      "name": " Research Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<your url>.n8n.cloud/webhook/content-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"product_name\": $('Build Band Message').item.json.product_name, \"product_description\": $('Build Band Message').item.json.product_description, \"target_audience\": $('Build Band Message').item.json.target_audience, \"chat_id\": $('Build Band Message').item.json.chat_id, \"research_data\": $('Build Band Message').item.json.research_data, \"attempt\": 1 } }}",
        "options": {}
      },
      "id": "7256f42c-9ed9-4c3b-874b-1bf65eaeac3a",
      "name": "Trigger Content Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"agent\": \"ResearchAgent\", \"product\": $(\"Normalize Input\").item.json.product_name } }}",
        "options": {}
      },
      "id": "2c4498f1-8218-4950-b571-7ed0926f0528",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizedData = $('Normalize Input').item.json;\nconst rawContent = $input.item.json.choices[0].message.content;\n\n// Clean markdown if present\nconst cleanContent = rawContent.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// Parse JSON from AI response\nlet research;\ntry {\n  research = JSON.parse(cleanContent);\n} catch(e) {\n  research = {\n    market_positioning: cleanContent,\n    competitor_angles: [],\n    target_pain_points: [],\n    unique_selling_points: [],\n    recommended_channels: [],\n    urgency_score: 'N/A',\n    research_summary: cleanContent\n  };\n}\n\n// Format into human readable Band message\nconst messageContent = `@aiadpulse12/agent2-content 🔍 RESEARCH COMPLETE\\n\\n📦 Product: ${normalizedData.product_name}\\n👥 Audience: ${normalizedData.target_audience}\\n\\n📊 Market Positioning:\\n${research.market_positioning}\\n\\n🏆 Competitor Angles:\\n- ${(research.competitor_angles || []).join('\\n- ')}\\n\\n😣 Customer Pain Points:\\n- ${(research.target_pain_points || []).join('\\n- ')}\\n\\n✅ Unique Selling Points:\\n- ${(research.unique_selling_points || []).join('\\n- ')}\\n\\n📢 Recommended Channels:\\n${(research.recommended_channels || []).join(', ')}\\n\\n⚡ Urgency Score: ${research.urgency_score}/10\\n\\n📝 Summary:\\n${research.research_summary}\\n\\n➡️ ACTION: Write product copy, email sequence, and 5 ad hooks based on this research.`;\n\nreturn [{\n  json: {\n    product_name: normalizedData.product_name,\n    product_description: normalizedData.product_description,\n    target_audience: normalizedData.target_audience,\n    chat_id: normalizedData.chat_id,\n    research_data: cleanContent,\n    band_message: messageContent,\n    band_api_key: 'band_a_1780862744_chmzhqQwM3pahd9nOOgY-1pXxOoKioVt'\n  }\n}];"
      },
      "id": "fd630886-e76d-4134-9726-87b7ef56bd21",
      "name": "Build Band Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://app.band.ai/api/v1/agent/chats/\" + $json.chat_id + \"/messages\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.band_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": { \"content\": $json.band_message, \"mentions\": [ { \"id\": \"f5a81d9f-9608-444d-ba22-c4b9477631c2\", \"name\": \"Agent2 content\", \"handle\": \"aiadpulse12/agent2-content\" } ] } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        32
      ],
      "id": "10d94c02-808b-4d20-91ae-4d750190c2fa",
      "name": "send to band room",
      "credentials": {
        "httpHeaderAuth": {
          "id": "U5VYy2UWw4HGUCT1",
          "name": "Band ResearchAgent Key"
        }
      }
    }
  ],
  "pinData": {
    "Receive Product Input": [
      {
        "json": {
          "headers": {
            "host": "your url.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.54.0",
            "content-length": "237",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cache-control": "no-cache",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.86.50.139",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "a094880dec0d578a-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "postman-token": "49e95fd8-0530-4121-a931-e3a076ec6c1d",
            "x-forwarded-for": "54.86.50.139, 162.158.79.57",
            "x-forwarded-host": "aiadpulse12.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-swc-29-7cb55c5d6f-8zvgl",
            "x-is-trusted": "yes",
            "x-real-ip": "54.86.50.139"
          },
          "params": {},
          "query": {},
          "body": {
            "product_name": "GlowUp Vitamin C Serum",
            "product_description": "20% Vitamin C serum for brightening skin",
            "target_audience": "Women aged 25-45 interested in skincare",
            "chat_id": "your chat id"
          },
          "webhookUrl": "https://<your url>.n8n.cloud/webhook/research-agent",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Product Input": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": " Research Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Research Analysis": {
      "main": [
        [
          {
            "node": "Build Band Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Band Message": {
      "main": [
        [
          {
            "node": "send to band room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Content Agent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send to band room": {
      "main": [
        [
          {
            "node": "Trigger Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "047adbbf-c6dd-40ef-90fb-af54736b4d33",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "8729fed0b93232aa0742d9c9fd3ee489cd06e53a46df6a8a5f0f2739b22d2bce"
  },
  "nodeGroups": [],
  "id": "aXqapHCc07zfqhyH",
  "tags": []
}
