workflows/Agent 2 - Content Agent.json
{
  "name": "Agent 2 - Content Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "62dd0474-84fd-46e3-b035-986e35585a9d",
      "name": "Receive Research Brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "cf12e568-3b92-453c-a3db-33a92da71e8c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "product_name",
              "value": "={{ $json.body?.product_name ?? $json.product_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "product_description",
              "value": "={{ $json.body?.product_description ?? $json.product_description ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "target_audience",
              "value": "={{ $json.body?.target_audience ?? $json.target_audience ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "chat_id",
              "value": "={{ $json.body?.chat_id ?? $json.chat_id ?? \"7ef90d05-e5c2-4f15-ac62-8f5335529067\" }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "research_data",
              "value": "={{ $json.body?.research_data ?? $json.research_data ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "revision_notes",
              "value": "={{ $json.body?.revision_notes ?? $json.revision_notes ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "attempt",
              "value": "={{ $json.body?.attempt ?? $json.attempt ?? 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "cc6617ef-5b53-4ed8-b030-5b8785a5d091",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimlapi.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e36e9050421292fd40419b35ab606cfb"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"google/gemma-3-4b-it\", \"messages\": [ { \"role\": \"user\", \"content\": \"You are a Content Agent for an ecommerce product launch system. Write marketing copy based on the product info and research below.\\n\" + ($json.revision_notes ? \"REVISION REQUIRED - A senior reviewer rejected your previous attempt. Fix these specific issues: \" + $json.revision_notes + \"\\nMake sure this version is significantly better and addresses every point.\" : \"Write based on the available information.\") + \"\\n\\nReturn ONLY a valid JSON object with these exact fields: product_copy (object with headline, subheadline, body_copy, cta), email_sequence (array of 3 objects each with subject, preview_text, body), ad_hooks (array of 5 strings), content_score (number 1-10). No markdown, no backticks, ONLY raw JSON.\\n\\nProduct: \" + $json.product_name + \"\\nDescription: \" + $json.product_description + \"\\nAudience: \" + $json.target_audience + \"\\nResearch: \" + $json.research_data } ], \"temperature\": 0.8, \"max_tokens\": 1500 } }}",
        "options": {}
      },
      "id": "05523bbc-2dfd-45f5-95f0-4f323485b82e",
      "name": "OpenAI - Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aiadpulse12.app.n8n.cloud/webhook/review-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"product_name\": $('Build Band Message').item.json.product_name, \"product_description\": $('Build Band Message').item.json.product_description, \"target_audience\": $('Build Band Message').item.json.target_audience, \"chat_id\": $('Build Band Message').item.json.chat_id, \"research_data\": $('Build Band Message').item.json.research_data, \"content_data\": $('Build Band Message').item.json.content_data, \"attempt\": $('Build Band Message').item.json.attempt } }}",
        "options": {}
      },
      "id": "2d400c14-fcd5-4987-9c91-f07739dc1bc4",
      "name": "Trigger Review Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"agent\": \"ContentAgent\", \"product\": $(\"Normalize Input\").item.json.product_name, \"attempt\": $(\"Normalize Input\").item.json.attempt } }}",
        "options": {}
      },
      "id": "791224da-5e5c-443d-846c-7817128b983e",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalizedData = $('Normalize Input').item.json;\nconst rawContent = $input.item.json.choices[0].message.content;\nconst attempt = normalizedData.attempt || 1;\n\n// Clean markdown if present\nconst cleanContent = rawContent.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// Parse JSON\nlet content;\ntry {\n  content = JSON.parse(cleanContent);\n} catch(e) {\n  content = { product_copy: { headline: 'N/A', subheadline: 'N/A', body_copy: cleanContent, cta: 'N/A' }, email_sequence: [], ad_hooks: [], content_score: 5 };\n}\n\nconst revisionText = normalizedData.revision_notes ? ' (Revision Attempt ' + attempt + ')' : '';\n\n// Format into human readable Band message\nconst messageContent = `@aiadpulse12/agent3-review ✍️ CONTENT READY${revisionText}\\n\\n📦 Product: ${normalizedData.product_name}\\n🔄 Attempt: ${attempt}/3\\n\\n📣 Headline:\\n${content.product_copy?.headline}\\n\\n📝 Subheadline:\\n${content.product_copy?.subheadline}\\n\\n💬 Body Copy:\\n${content.product_copy?.body_copy}\\n\\n🔘 CTA: ${content.product_copy?.cta}\\n\\n📧 Email Sequence:\\n${(content.email_sequence || []).map((e, i) => `Email ${i+1}: ${e.subject}`).join('\\n')}\\n\\n🎯 Ad Hooks:\\n${(content.ad_hooks || []).map((h, i) => `${i+1}. ${h}`).join('\\n')}\\n\\n⭐ Self Score: ${content.content_score}/10\\n\\n➡️ ACTION: Score this content. Below 7 send back with revision notes. 7 or above approve and pass to CampaignAgent.`;\n\nreturn [{\n  json: {\n    product_name: normalizedData.product_name,\n    product_description: normalizedData.product_description,\n    target_audience: normalizedData.target_audience,\n    chat_id: normalizedData.chat_id,\n    research_data: normalizedData.research_data,\n    content_data: cleanContent,\n    attempt: attempt,\n    band_message: messageContent,\n    band_api_key: 'band_a_1781057353_ODa0U6RmGvZniJi-W6LCHvKthX1cjerp'\n  }\n}];"
      },
      "id": "47180864-9ba5-4939-a447-a277fee447dc",
      "name": "Build Band Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://app.band.ai/api/v1/agent/chats/\" + $('Build Band Message').item.json.chat_id + \"/messages\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.band_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": { \"content\": $('Build Band Message').item.json.band_message, \"mentions\": [ { \"id\": \"5d6d15dd-03c2-44f5-826d-ec5c7d0c4c80\", \"name\": \"Agent3 review\", \"handle\": \"aiadpulse12/agent3-review\" } ] } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        0
      ],
      "id": "9615880a-1df8-4270-b464-7182dead4785",
      "name": "Post to Band room",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TXS27xrbxtisbc4d",
          "name": "Band ContentAgent Key"
        }
      }
    }
  ],
  "pinData": {
    "Receive Research Brief": [
      {
        "json": {
          "headers": {
            "host": "aiadpulse12.app.n8n.cloud",
            "user-agent": "n8n",
            "content-length": "1806",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "4.165.103.121",
            "cf-ew-via": "15",
            "cf-ipcountry": "SE",
            "cf-ray": "a0952e530c320a21-ARN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "4.165.103.121, 162.158.182.69",
            "x-forwarded-host": "aiadpulse12.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-swc-29-7cb55c5d6f-8zvgl",
            "x-is-trusted": "yes",
            "x-real-ip": "4.165.103.121"
          },
          "params": {},
          "query": {},
          "body": {
            "product_name": "",
            "product_description": "",
            "target_audience": "",
            "chat_id": "7ef90d05-e5c2-4f15-ac62-8f5335529067",
            "research_data": "{\n  \"market_positioning\": \"Premium eco-friendly kitchenware aimed at health-conscious consumers.\",\n  \"competitor_angles\": [\n    \"Sustainability: Competing brands emphasize their eco-friendly materials and production processes.\",\n    \"Price: Some competitors offer lower-cost alternatives, targeting budget-conscious consumers.\",\n    \"Innovation: Rivals focus on unique designs and functionalities that enhance usability.\"\n  ],\n  \"target_pain_points\": [\n    \"Concerns about harmful chemicals in traditional kitchenware.\",\n    \"Desire for sustainable products that reduce environmental impact.\",\n    \"Frustration with the durability and performance of current kitchen products.\"\n  ],\n  \"unique_selling_points\": [\n    \"Made from 100% biodegradable materials that do not compromise on quality.\",\n    \"Designed with ergonomic features for enhanced user experience.\",\n    \"Comes with a lifetime guarantee, showcasing commitment to durability and customer satisfaction.\"\n  ],\n  \"recommended_channels\": [\n    \"Social media platforms (Instagram, Pinterest) for visual marketing.\",\n    \"Eco-friendly lifestyle blogs and websites for targeted content marketing.\",\n    \"Ecommerce marketplaces specializing in green products.\"\n  ],\n  \"urgency_score\": 8,\n  \"research_summary\": \"The rise in health and environmental awareness among consumers presents a significant opportunity for eco-friendly kitchenware. Competitors are leveraging sustainability, price, and innovative features, but the demand for safe, durable, and environmentally responsible products is high, creating a compelling market entry point.\"\n}",
            "attempt": 1
          },
          "webhookUrl": "https://aiadpulse12.app.n8n.cloud/webhook/content-agent",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Research Brief": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Review Agent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Content": {
      "main": [
        [
          {
            "node": "Build Band Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Band Message": {
      "main": [
        [
          {
            "node": "Post to Band room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Band room": {
      "main": [
        [
          {
            "node": "Trigger Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "680e73da-440f-43d9-9528-c5f83bc47cf2",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "8729fed0b93232aa0742d9c9fd3ee489cd06e53a46df6a8a5f0f2739b22d2bce"
  },
  "nodeGroups": [],
  "id": "eSJDppxGahQ6mJdn",
  "tags": []
}